[[language]]
name = "rust"
formatter = { command = "rustfmt" }
auto-format = true

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
auto-format = true

[[language]]
name = "nix"
formatter = { command = "nixfmt", args = [] }
auto-format = true

[language-server.rust-analyzer.config.check]
command = "clippy"
